* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
body {
    width: 90%;
    margin: 5% auto;
}
.ques-area {
    width: 80%;
    margin: 3% auto;
}
h1 {
    text-align: center;
    color: crimson;
}
h3 {
    padding: 1rem 0;
}
p {
    padding-left: 1rem;
    line-height: 30px;
}